<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<div class="container">
  <div class="title-container">
    <h1 class="strokeme">Contact me!</h1>
    <a href="mailto:amit.goldshtein2@gmail.com" target="_blank">
      <button class="mail-button" type="button">
        <i class="fa fa-envelope"></i>
        <span class="strokeme"> amit.goldshtein2@gmail.com</span>
      </button>
    </a>
  </div>
  <div class="spacer"></div>
  <div class="form-container">
    <form>
      <!-- email -->
      <div class="field">
        <label class="label">Email</label>
        <input type="text" name="email" class="input" />
      </div>
      <!-- subject -->
      <div class="field">
        <label class="label">Subject</label>
        <input type="text" name="subject" class="input" />
      </div>
      <!-- message -->
      <div class="field">
        <label class="label">Message</label>
        <textarea name="message" class="textarea"></textarea>
      </div>

      <button type="submit" class="btn btn-success">
        <i class="fa fa-arrow-circle-right"></i> Submit
      </button>
      <div class="spacer"></div>
    </form>
  </div>
</div>
