<p-menubar [model]="items" [style]="{'border-width': '1px'}">

  <ng-template pTemplate="start">
    <a href={{links.github}} target="_blank">
      <button pButton type="button" icon="pi pi-github" class="m-1 p-button-rounded p-button p-button-icon-only p-button-sm">
      </button>
    </a>
    <a href={{links.linkedin}} target="_blank">
      <button pButton type="button" icon="pi pi-linkedin" class="m-1 p-button-rounded p-button p-button-icon-only p-button-sm">
      </button>
    </a>
  </ng-template>
  
</p-menubar>