<p-menubar [model]="items" [style]="{'border-width': '3px'}">
  <ng-template pTemplate="start">
    <span>
      <a href={{links.github}} target="_blank">
        <button pButton type="button" icon="pi pi-github" class="m-2 p-button-rounded p-button p-button-icon-only">
        </button>
   
      </a>
    </span>
    <span>
      <a href={{links.linkedin}} target="_blank">
        <button pButton type="button" icon="pi pi-linkedin" class="m-2 p-button-rounded p-button p-button-icon-only">
        </button>
      </a>
    </span>
  </ng-template>
  
</p-menubar>