<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<div class="container">
  <h1 class="opensans strokeme">Amit Goldshtein</h1>
  <p class="opensans strokeme">
    Software engineering graduate from Afeka college.
  </p>
  <div class="home-buttons-container mt-4">
    <a href="#" target="_blank">
      <!-- UPDATE WITH DOWNLOAD LINK FOR RESUME-->
      <button class="download-cv-button" type="button">
        <i class="fa fa-download"></i> Resume
      </button>
    </a>
    <a href="https://github.com/amitgoldGH" target="_blank">
      <button class="download-cv-button" type="button">
        <i class="fa fa-github"></i> Github
      </button>
    </a>
    <a href="https://www.linkedin.com/in/amit-goldshtein/" target="_blank">
      <button class="download-cv-button" type="button">
        <i class="fa fa-brands fa-linkedin"></i> Linkedin
      </button>
    </a>
  </div>
</div>
