@import url("https://fonts.googleapis.com/css?family=Open+Sans");

.opensans {
  font-family: "Open Sans", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 400px;
  text-align: center;
}

.home-buttons-container {
  display: inline;
}



