@import url("https://fonts.googleapis.com/css?family=Open+Sans");

.opensans {
  font-family: "Open Sans", sans-serif;
}

.skill-item {
  border: 1px solid var(--surface-d);
  border-radius: 35px;
  padding: 0 10px 0 10px;
  margin: .3rem;
  text-align: center;
  display: inline-block;
  color: white;
  background: rgb(44, 44, 216);

}

img {
  max-height: 50%;
  max-width: 80%;
}

.description {
  display: inline-block;
  text-align: left;
  white-space: pre-line;
  
}

.project-card-container-grid {
  margin: auto;
  max-width: 800px;
}

.poster-class {
  display: flex;
  align-items: center;
  justify-content: center;
}

p-card {
  text-align: center;
}

.title-class {
  font-size: large;
  box-shadow: 10px;
}