<div class="container">
  <!-- <h1 class="opensans">Resume Here!</h1> -->

  <div class="resume-component-box pt-5">
    <div class="afeka-container">
      <div class="icon-container">
        <img
          src="../../../assets/afekalogo.png"
          class="afeka-icon title-container-child"
        />
      </div>
      <div class="title-container">
        <div class="inner-wrapper">
          <h6><u>B.Sc Software Engineering</u></h6>
          <figcaption class="blockquote-footer pt-1">
            Afeka College, Tel-aviv
          </figcaption>
          <p class="description-text">
            Bachelor degree in software engineering. <br />
            Software information technologies specialization.
          </p>
        </div>
      </div>
    </div>
    <div class="year-container">
      <div class="year-text">2017-2022</div>
    </div>
  </div>
  <div class="resume-component-box pt-3">
    <div class="sela-container">
      <div class="icon-container">
        <img
          src="../../../assets/sela-logo-black.svg"
          class="sela-icon title-container-child"
        />
      </div>
      <div class="title-container">
        <div class="inner-wrapper">
          <h6><u>Chief information security officer</u></h6>
          <figcaption class="blockquote-footer pt-1">
            Sela College, Bnei brak
          </figcaption>
          <p class="description-text">A year-long course in cyber security.</p>
        </div>
      </div>
    </div>
    <div class="year-container">
      <div class="year-text">2013-2014</div>
    </div>
  </div>
</div>
