<div class="strokeme mt-5 text-base-content font-bold pt-10 ml-10 text-7xl text-center">Resume</div>

<div class="resume-container">
  <div *ngFor="let resumes of resumeItems" class="">
    <p-card header="{{resumes.title}}" subheader="{{resumes.location}}" class="card">
      <ng-template pTemplate="header">
        <img alt="Image-Alt" src="{{resumes.iconLocation}}" class="mt-2">
      </ng-template>

      <span class="description">{{resumes.description}}</span>

      <ng-template pTemplate="footer">
        {{resumes.years}}
      </ng-template>
    </p-card>
  </div>
</div>
