@import url("https://fonts.googleapis.com/css?family=Open+Sans");

.opensans {
  font-family: "Open Sans", sans-serif;
}

.resume-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 400px;
  width: 100%;
  text-align: center;
}

.card {
  max-width: 400px;
  min-height: 120px;
  margin: auto;
  margin-top: 3rem;
}

p-card {
  width: 80%;
}

p-card img {
  /*object-fit: cover; *//*this makes the image in src fit to the size specified below*/
  width: 30%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
  height: 35%;
}

p-card p {
  text-align: left;
  white-space: pre-line;
}

.description {
  display: inline-block;
  text-align: left;
  
}
